Django>=4.2.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0
whitenoise>=6.6.0
gunicorn>=22.0.0
Pillow>=10.0.0
django-compressor>=4.4
django-axes>=6.0
django-apscheduler>=0.6.2
opencv-python-headless>=4.8.0
numpy>=1.24.0
